.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
  }

  .cl-avatarBox{
    width: 2.5rem;
    height: 2.5rem;
}